$white: #ffffff;
$gray50: #F5F5F7;
$gray100: #EFEDF0;
$gray200: #E4E2E6;
$gray300: #DBDADE;
$gray400: #CECCD1;
$gray500: #B8B6BE;
$gray600: #97959E;
$gray650: #716F77;
$gray700: #605E66;
$gray800: #444249;
$gray900: #322E42;

.color-white {
  color: $white;
}

.color-gray50 {
  color: $gray50;
}

.color-gray100 {
  color: $gray100;
}

.color-gray200 {
  color: $gray200;
}

.color-gray300 {
  color: $gray300;
}

.color-gray400 {
  color: $gray400;
}

.color-gray500 {
  color: $gray500;
}

.color-gray600 {
  color: $gray600;
}

.color-gray650 {
  color: $gray650;
}

.color-gray700 {
  color: $gray700;
}

.color-gray800 {
  color: $gray800;
}

.color-gray900 {
  color: $gray900;
}

.color-main1 {
  color: #8B62FF;
}
.color-bg1{
  background-color: #8B62FF;
}